<!DOCTYPE html>
<html>
  <head>
    <title>CIS 4339 Homework - JQuery and CSS</title>
    <link data-turbolinks-track="true" href="/assets/application.css" media="all" rel="stylesheet" />
    <script data-turbolinks-track="true" src="/assets/application.js."></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="5s0B89wIbsPNlrOeEJOV83S7iQY97nn4RrHMpBSQuFs=" name="csrf-token" />
  </head>
  <body>
    <div id="header">
      <h1>Inventory Manager</h1>
      <a href="/">Dashboard</a>
      <a href="/sales_items">Sales Items</a>
      <a href="/categories">Categories</a>
    </div>
    <%= yield %>
  </body>
</html>
